[Unit]
Description=Car Calendar DMZ Consumer

[Service]
WorkingDirectory=/home/vagrant/src/
ExecStart=/usr/bin/python3 /home/vagrant/src/consume_dmz.py
Restart=always
RestartSec=1
User=vagrant

[Install]
WantedBy=multi-user.target
