[Unit]
Description=Car Calendar Data Consumer
After=mysql.service

[Service]
WorkingDirectory=/home/vagrant/src/
ExecStart=/usr/bin/python3 /home/vagrant/src/consume_data.py
Restart=always
RestartSec=1
User=vagrant

[Install]
WantedBy=multi-user.target
