{% extends 'base.html' %}

{% block title %}View Car{% endblock %}

{% block content %}

<div class="btn-group">
  <a href="{{ url_for('cars.car_recalls', id=car.id) }}" class="btn btn-warning">
    View Recalls
  </a>
  <a href="{{ url_for('cars.car_maintenance', id=car.id) }}" class="btn btn-secondary">
    View Maintenance
  </a>
  <a href="{{ url_for('cars.add_events_to_calendar', id=car.id) }}" class="btn btn-success">
    Add Maintenance Events to Google Calendar
  </a>
  <a href="{{ url_for('cars.video_playlist', id=car.id) }}" class="btn btn-danger">
    Video Playlist
  </a>
</div>

<form style="float:right" action="{{ url_for('cars.delete_car', id=car.id) }}" method="POST">
  <button class="btn btn-danger" type="submit">Delete Car</button>
</form>

<br/><br/>
<h1>
  <a href="{{ url_for('cars.display_car', id=car.id) }}">
    {{ car.year }} {{ car.make }} {{ car.model }}
  </a>
  <small>({{ car.mileage }} miles)</small>
</h1>

{% block inner_content %}

<form action="{{ url_for('cars.update_car', id=car.id) }}" method="POST">
  <div class="alert alert-danger" role="alert">
    Your car may have recalls! Check the 'View Recalls' tab!
  </div>

  <div class="form-group">
    <label>Total Mileage</label>
    <input class="form-control" type="number" name="mileage" value="{{ car.mileage }}" required />
  </div>

  <div class="form-group">
    <label>How many miles do you drive per week?</label>
    <input class="form-control" type="number" name="weekly_mileage" value="{{ car.weekly_mileage }}" required />
  </div>

  <button class="btn btn-success" type="submit">Update Mileage</button>
</form>
{% endblock %}

{% endblock %}
