body{
	padding: top:70px;
}

.jumbotron{
	color:#2c3e50;
	background: #ecf0f1;
}

.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-nav .navbar-brand{
	color:white;
}

/* Style all input fields */
input {
  width: 25%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 10px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: black;
}

